:root{
    --blanco:#ffffff;
    --oscuro:#212121;
    --primario:#ffc107;
    --secundario:#0097a7;
    --gris:#757575;
    --grisclaro:#dfe9fe;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*::before, :after{
    box-sizing: inherit;
}
body{
    font-family: 'Montserrat', sans-serif;
}

/* Header */
header h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.8rem;
}

.subtitulo{
    font-size: 2rem;
}

/* navegacion */

nav{
    background-color: var(--secundario);
    display: flex;
    justify-content: space-between;
}

nav a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
    font-weight: 600;
}

nav a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

footer{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}